// HomeAd.scss
.homeAd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .items {
        height: 500px;
        
        img {
            height: 100%;
        }
    }   
}