// HomeAd.scss
.homeAd {
    background-color: orange;
    width: 100%;
}

.homeAd .carousel,
.homeAd .carousel-item {
    width: 100%;
    height: 550px;
    max-height: 550px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 圖片會裁剪並保持比例 */
    object-position: center; /* 圖片置中 */
    transition: transform 0.5s ease-in-out;
}