.navbar {
    background-color: var(--primary-color);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbarContainer {
        width: 100rem;
        padding: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logoArea {
            width: 50rem;
            font-size: 25px;
            font-weight: 700;
            font-style: italic;
            color: black;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: flex-start;
    
            &:hover {
                color: rgba(0, 0, 0, 0.651); /* 取消下劃線 */
                text-decoration: none;
            }
        }
    
        #navbar-nav {
            display: flex;
            justify-content: flex-end;
        }
    
        .btnArea {
            width: 50rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
    
            .btn {
                width: 50px;
                height: 50px;
                text-align: center;
                background-color: var(--primary-color);
                display: block;
                position: relative;
                border: 1px solid var(--primary-color);
                z-index: 1;
                
                .icon {
                    position: relative;
                    width: 25px;
                    height: 25px;
                    color: black;
                    transition: .5s;
                    z-index: 3;
                }
    
                #searchIcon {
                    height: 19px;
                }
    
                &:hover {
                    cursor: pointer;
                    
                    .icon {
                        color: white;
                        transform: rotateY(360deg); /* 圖標旋轉 */
                    }
                }
            }
    
            .btn[title]:hover::after {
                content: attr(title);
                display: flex;
                justify-content: center;
                position: relative;
                top: 5px;
                font-size: 15px;
                font-weight: 500;
                white-space: nowrap;
                z-index: 3;
            }
            
            .usernameContainer {
                margin: 5px;
                position: relative;
                width: 50px;
                height: 30px;
                border: 1px solid white;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                .username {
                    color: black;
                    font-size: 15px;
                    font-weight: 550;
                    text-align: center;
                    margin: 0;
                }
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

}
