// Navbar.scss
.navbar {
    width: 100%;
    height: 90px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;

    .navbarContainer {
        width: 92%;
        height: 100%;
        color: black;
        padding: 20px 0 0 0;        
        
        .firstLine {
            display: flex;
            justify-content: flex-end;
            
            .logoArea {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                .logo {
                    font-size: 25px;
                    font-weight: 700;
                    font-style: italic;
                    color: black;
                }

                a:link {
                    text-decoration: none;
                }
            }

            .btnArea {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 300px;
                padding-right: 15px;

                a:link {
                    text-decoration: none;
                }
    
                .btn-hover {
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    background-color: var(--primary-color);
                    display: block;
                    position: relative;
                    border: 1px solid var(--primary-color);
                    padding: 1px 1px;
                    z-index: 1;
                    
                    #searchIcon {
                        position: relative;
                        width: 25px;
                        height: 19px;
                        color: black;
                        transition: .5s;
                        z-index: 3;
                    }

                    #notifIcon {
                        position: relative;
                        width: 25px;
                        height: 25px;
                        color: black;
                        transition: .5s;
                        z-index: 3;
                    }

                    #shoppingCartIcon {
                        position: relative;
                        width: 25px;
                        height: 25px;
                        color: black;
                        transition: .5s;
                        z-index: 3;
                    }
    
                    #profileIcon {
                        position: relative;
                        width: 25px;
                        height: 25px;
                        color: black;
                        transition: .5s;
                        z-index: 3;
                    }
    
                    &:hover {
                        cursor: pointer;

                        #searchIcon {
                            color: white;
                            transform: rotateY(360deg);
                        }

                        #notifIcon {
                            color: white;
                            transform: rotateY(360deg);
                        }

                        #shoppingCartIcon {
                            color: white;
                            transform: rotateY(360deg);
                        }
                        
                        #profileIcon {
                            color: white;
                            transform: rotateY(360deg);
                        }
                    }
                }

                .btn-hover[title]:hover::after {
                    content: attr(title);
                    display: flex;
                    justify-content: center;
                    position: relative;
                    top: 5px;
                    font-size: 15px;
                    font-weight: 500;
                    white-space: nowrap;
                    z-index: 3;
                }

                div {
                    position: absolute;
                    width: 3%;
                    height: 30px;
                    left: 95%;
                    border: 1px solid white;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 3;

                    .username {
                        color: black;
                        text-align: center;
                        font-size: 15px;
                        font-weight: 550;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}